<nav class="navbar navbar-light fixed-top">
  CloudSuite #4 Loop the loop (Angular)
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <form>
        <div class="form-group">
          <label>Value start</label>
          <input [(ngModel)]="start" class="form-control" name="start">
        </div>
        <div class="form-group">
          <label>Value end</label>
          <input [(ngModel)]="end" class="form-control" name="end">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="multipliedCheck()" type="button">
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Generate
            </button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <ul class="list-group">
        <label>Results</label>
        <li class="list-group-item" *ngFor="let item of processedList">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>